/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}
/*end reset*/
body{
	font-family: 'Oswald', sans-serif;
	background-color: #f7f8f3;
	font-weight: 400;
	height: 5000px;
}
.containerbg{
	background: url('img/slider.jpg') no-repeat center center fixed;
	background-size: cover;
	background-color: #000;
	height:1080px;
	position: relative;
	margin-bottom: 20px;
}
/*nav*/
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 40px 20px 40px;
	border-bottom: solid 1px rgba(255,255,255,.4);
	background-color: rgba(1,24,63,.04);
}
.header a{
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}
.nav,
.user{
	font-size: 16px;
}
.title{
	font-size: 30px;
}
.nav a{
	margin-right: 47px;
}
.nav a:hover,
.nav .selected{
	text-decoration: underline;
}
.user a{
	padding: 34px 32px 30px 32px;
	border-left: solid 1px rgba(255,255,255,.4);
}
.icon-search:before{
	content: '';
	background: url(img/search.png) center center / contain;
	background-repeat: no-repeat;
	padding-left: 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	transform: translate(-10px, 2px);
}
/*slider*/
.slider{
	color: #fff;
	width: 1168px;
	margin: 340px auto;
	text-align: right;
}
.slider a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
}
.slider h1{
	font-size: 55px;
	letter-spacing: .2em;
}
.slider .description{
	font-size: 24px;
	font-weight: 300;
	letter-spacing: .2em;
}
.slider .start{
	font-size: 20px;
	padding: 25px 39px;
	margin-top: 60px;
	border: 1px solid #fff;
}
.slider .start:after{
	content: '';
	background: url(img/line.png) center center / contain;
	background-repeat: no-repeat;
	margin-left: 20px;
	display: inline-block;
	width: 42px;
	height: 2px;
	transform: translateY(-.3em);
}
.slider .products{
	font-size: 18px;
	font-weight: 300;
	display: block;
	letter-spacing: .3em;
	margin-top: 28px;
	padding-right: 5px;
}
.slider .products:after{
	content: '';
	background: url(img/arrow.png) center center / contain;
	background-repeat: no-repeat;
	margin-left: 20px;
	display: inline-block;
	width: 20px;
	height: 10px;
}
.extra{
	font-size: 24px;
	color: #fff;
	transform: rotate(270deg);
	position: absolute;
	left: 0px;
	bottom: 142px;
}
.extra:before{
	content: '';
	background: url(img/line2.png) center center / contain;
	background-repeat: no-repeat;
	margin-right: 30px;
	display: inline-block;
	width: 107px;
	height: 2px;
	transform: translateY(-.3em);
}
.scroll{
	position: absolute;
	bottom: 58px;
	right: 50%;
}
.trust-icons{
	width: 690px;
	margin: 0 auto;
	display: block;
}
/*about*/
.about{
	width: 845px;
	margin: 85px auto 120px auto;
}
.about-links{
	display: flex;
	justify-content: space-between;
	border-bottom: solid 1px #ced6af;
	margin-bottom: 120px;
}
.about a{
	text-decoration: none;
	color: #1c1c1b;
	font-size: 30px;
	padding: 20px 0;
	text-transform: uppercase;
	letter-spacing: .2em;
}
.about-links .selected,
.about a:hover{
	border-bottom: solid 1px #1c1c1b;
}
.whatis{
	width: 412px;
	position: relative;
}
h2{
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 50px;
	width: 270px;
	line-height: 40pt;
}
.whatis p{
	font-size: 18px;
	font-weight: 300;
	color:#6e774a;
	margin-bottom: 66px;
	line-height: 28pt;
}
.whatispics{
	position: absolute;
	top: -30px;
	left: 530px;
}
.whatis1{
	width: 570px;
    height: 300px;
    background-image: url("img/whatis1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: 30px;
}
.whatis2{
	width: 570px;
    height: 300px;
    background-image: url("img/whatis2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*products*/
.featuredctr{
	display: flex;
	justify-content: space-between;
}
.featured{
	border: 1px solid #ced6af;
	background-color: #fff;
	position: relative;
	height: 500px;
	width: 500px;
}
.product img{
	display: block;
	margin: 40px auto 20px auto;
}
h4{
	font-size: 18px;
	text-align: center;
}
.featured .pricectr{
	font-size: 18px;
	background-color: #f1f1f1;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 76px;
	width: 60%;
}
.featured .shopctr{
	background-color: #6e774a;
	color: #fff;
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 76px;
	width: 40%
}
.price{
	height: 76px;
	margin-top: 1.3em;
	margin-left: 28px;
}
.shop{
	height: 76px;
	font-size: 20px;
	margin-top: 1em;
	margin-left: 28px;
}
.shop:after{
	content: ' ';
	background: url('img/line.png') center center / contain;
	background-repeat: no-repeat;
	margin-right: 30px;
	display: inline-block;
	width: 45px;
	height: 2px;
	transform: translate(1em, -.3em);
}
.arrows{
	margin-top: 55px;
	display: block;
	text-align: center;
}
.arrows img{
	margin: 0 30px;
}
.questionsctr{
	width: 600px;
	margin: 135px auto 150px auto;
}
.questionsctr img{
	width: 20px;
	height: 20px;
	transform: translateY(.1em);
	margin-right: 26px;
}
.singleqst{
	padding: 35px 0;
	border-top: 1px solid #eaedde;
}
.singleqst p{
	font-size: 18px;
	padding-top: 40px;
	line-height: 40px;
}
.questionsctr:last-child{
	border-bottom: 1px solid #eaedde;
}
.questionsctr a{
	text-decoration: none;
	color: #6e774a;
	font-size: 18px;
	font-weight: 300;
	display: block;
}
/*sliders2*/
.sliders2-container{
	width: 100%;
	height: 800px;
	background: url('img/sliders2.jpg') no-repeat center center;
	position: relative;
}
.sliders2{
	text-align: center;
	padding-top: 250px;
}
.sliders2 .review{
	font-size: 22px;
	font-weight: 300;
	color: #fff;
	line-height: 40px;
	width: 600px;
	margin: 40px auto;
}
.sliders2 .name{
	font-size: 24px;
	font-weight: 400;
	color: #fff;
}
.sliders2-arrow{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 244px;
}
.sliders2-left{
	margin-right: -4px;
}
.sliders2-left,
.sliders2-right{
	display: inline-block;
	padding: 40px;
	border: 1px solid #fff;
}
/*media*/
h3{
	text-align: center;
	font-size: 30px;
	margin-bottom: 70px;
}
@media only screen and (max-width: 1200px){
	.containerbg{
		height: 600px;
	}
	.scroll{
		display: none;
	}
	.slider{
		text-align: center;
		margin-top: 70px;
		margin-bottom: 70px;
		width: auto;
	}
	.shop:after{
		display: none;
	}
}
@media only screen and (max-width: 950px){
	.slider{
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.extra{
		display: none;
	}
	.header{
		flex-direction: column;
	}
	.user a{
		border-left: none;
	}
	.title{
		padding: 15px;
	}
	.about{
		width: auto;
		margin: 0 20px;
	}
	.about-links{
	}
	.about a{
		letter-spacing: normal;
	}
	h2{
		width: 100%;
	}
	.whatis{
		width: 100%;
		text-align: center;
	}
	.whatis1,
	.whatis2{
		display: none;
	}
}
@media only screen and (max-width: 600px){
	.nav a{
		margin-right: 10px;
	}
	.user a{
		padding: 16px;
	}
	.slider{
		margin-top: 5px;
		margin-bottom: 55px;
	}
	.slider h1{
		font-size: 36px;
		line-height: 1.2em;
	}
	.slider .start{
		margin-top: 5px;
	}
	.about-links a{
		font-size: 18px;
	}
}